<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto 9 - Cálculo de Volume de Concreto</title>
</head>
<body>
    <center>
        <h2>Resultado de Volume de Concreto</h2>
        
            Largura do terreno (m): {{larguraterreno}} <br>
            Profundidade do terreno (m){{profundidadeterreno}}:<br>
            Largura da calçada (mín. 1.2m):{{larguracalcada}} <br>
            Altura do concreto (mín. 6cm): {{alturaconcreto}}<br>
            <h3>Volume de concreto necessário: {{volumeconcreto}} m³</h3>
             <a href="/">Voltar</a>
        </form>
    </center>
</body>
</html>
