<!DOCTYPE html>
<html lang="pr-br">


<head>
    <meta charset="UTF-8">
    <title>PROJETO</title>


</head>


<body>




    <center>
            
                
                    <P>PAGINA CALCULAR</P>


                <form action="/resultado" method="POST">

                    Nome: <input type="text" name="nome" required> 
                    Idade: <input type="text" name="idade" required><br>
                    Peso: <input type="text" name="peso" required><br>
                    Altura: <input type="text" name="altura" required><br>
                    
                        <input type="submit" value="calcular">
            
                </form>      
      
    </center>


</body>



</html>