<!DOCTYPE html>
<html lang="pr-br">


<head>
    <meta charset="UTF-8">
    <title>PROJETO</title>


</head>


<body>

    <center>

           
                    <P>PAGINA SEU RESULTADO É</P>


                <p>RESULTADO</p>
                <p>Nome: {{nome}}</pp>
                <p>Idade: {{idade}}</pp>
                <p>Peso: {{peso}}</pp>
                <p>Altura: {{altura}}</pp>   
                <p>IMC: {{ imc|round(2) }}</p>
                <p>Classificação: {{ classificacao }}</p>
                <a href="/">Voltar</a>
    </center>




</body>



</html>