<!DOCTYPE html>
<html lang="pr-br">


<head>
    <meta charset="UTF-8">
    <title>PROJETO</title>


</head>


<body>

    <center>

            
                
                   <h1>Resultado da Conta</h1>


                <p>Resultado...</p>
                <p>Largura: {{largura}}</pp>
                <p>Comprimento: {{comprimento}}</pp>
                <p>Area: {{area}}</p>
                <p>Perimetro: {{perimetro}}</p>
                <a href="/">Voltar</a>

    </center>




</body>



</html>