<!DOCTYPE html>
<html lang="pr-br">


<head>
    <meta charset="UTF-8">
    <title>PROJETO</title>


</head>


<body>




    <center>
            
                
                    <h1>Insira os valores para o Calculo</h1>


                <form action="/calculoterreno" method="POST">

                    Lagura: <input type="text" name="largura" required> 
                    Comprimento: <input type="text" name="comprimento" required><br>
                    
                    
                        <input type="submit" value="calcular">
            
                </form>      
            

    </center>


</body>



</html>